@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-slate-200;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', sans-serif;
}

#root {
  min-height: 100vh;
}
